<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuoiManger</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cards">
      <div class="card-container left">
        <button id="left" class="card">
          <img
            id="left-image"
            src="https://www.themealdb.com/images/media/meals/ctg8jd1585563097.jpg"
          />
          <div class="text">
            <h2 id="left-title">Potato</h2>
            <p id="left-subtitle">78%</p>
          </div>
        </button>
      </div>
      <div class="card-container right">
        <button id="right" class="card">
          <img
            id="right-image"
            src="https://www.themealdb.com/images/media/meals/ctg8jd1585563097.jpg"
          />
          <div class="text">
            <h2 id="left-title">Potato</h2>
            <p id="left-subtitle">78%</p>
          </div>
        </button>
      </div>
    </div>
    <div class="actions">
      <button id="left-btn">Left</button>
      <button id="right-btn">Right</button>
      <button id="next-btn">Next</button>
    </div>
    <script src="script.js"></script>
  </body>
</html>
